html {
    height:100%;
}
html, body, {
    min-height: 100% !important;
    height: 100%;
}
body{
    background-image: url('http://www.kylebutz.com/weathercat/swirl_pattern.png'); /* from subtlepatterns.com */
    background-repeat: repeat;
}
.container {
    margin: auto;
    max-width:600px;
    min-height:100%;
    background-color: rgba( 255, 255, 255, 0.5 );
}
.content {
    max-width: 500px;
    margin: auto;
    font-family: 'Cantarell', sans-serif;
}
.results{
    max-width: 500px;
    min-height:500px;
    margin: auto;
    font-family: 'Cantarell', sans-serif;
}
h1.masthead{
     font-family: 'Lobster', cursive;
     font-size:48px;
     color:#551A8B;
     margin-bottom:0px;
     text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}  
a {
    text-decoration:none;
    color:#551A8B;
}
a:hover {
    text-decoration: underline;
}
.field {
    font-size:12pt;
}
.content li{
    text-transform: lowercase;
    margin-bottom: 1em;
}
.content span {
    text-transform: capitalize;
}
.conditionTitle{
    font-weight: bold;   
} 
.alert {
    color:red;
}
div.resultcat{
    margin: auto;
    text-align:center;
}
img.resultcat{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 10px 10px 5px #888888;
    max-width:500px;
}
.allcat {
    width:100px;
}
ul li {
  list-style-type: none;
  display:inline;
  width:100%;
}/* input & button ideas frm css-tricks.com https://css-tricks.com/snippets/css/picross-style-buttons/ */
input {
    border: 1px solid #551A8B; 
    padding: 3px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}
input#q {
        width:50%;
}
#country {
    width:120px;
}
button {
    background-color: #551A8B;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius:2px;
    color: #fff;
    margin: 0 0 10px 0;
    text-decoration: none;
    border:none;
    font-family: 'Cantarell', sans-serif;
}
select {
    background-color: #551A8B;
    color: #fff;
    margin: 0 0 10px 0;
    text-decoration: none;
    border:none;
    font-family: 'Cantarell', sans-serif;
}